body{
    background-color: #EAFDFC;
}
hr{
    border-style: dotted none none none;
    border-width: 5px;
    border-color: grey;
    width: 30%;
}
h1{
    color: #82AAE3;
}
h2{
    color: #82AAE3;
}